@import 'font-awesome/css/font-awesome.css';

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  background-color: rgb(20 20 20);
  margin: 0;
  padding: 0;
}

.loading-content {
  text-align: center;
  overflow: hidden;
}

.loading-content img {
  max-width: 100%;
  overflow: hidden;
}

.img-logo-loading-screen {
  animation: pulse 3s ease-in-out;
  overflow: hidden;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.content-body-filme-principal {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem 6rem;
  z-index: 10;
}

.title-home,
.subtitle-home {
  color: #fff;
}

.sinopse-home,
.elenco-home {
  width: 40%;
  font-family: serif;
}

.sinopse-home {
  font-size: 22px;
}

.sinopse-home,
.elenco-home,
.second-item-label-home,
.third-item-label-home {
  color: #FFF;
  letter-spacing: 1px;
}

.items-text-lista-home {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  gap: 25px;
}

.first-item-label-home {
  color: #46d369;
  letter-spacing: 1px;
}

.fourth-item-label-home,
.fifth-item-label-home {
  color: #FFF;
  width: auto;
  border: 2px solid rgb(101 101 101);
  padding: 4px;
  font-weight: 700;
}

.subtitle-home {
  margin: 0vh 0vh 3vh 0vh;
  font-size: 3rem;
  width: 70%;
}

.title-home {
  margin: 3vh 0vh 1.5vh 0vh;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: system-ui;
  font-size: 2.3rem;
  color: red;
}

.title-home span {
  font-weight: 300;
  letter-spacing: 1px;
  font-family: system-ui;
  color: #FFF
}

.background-image-home {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  opacity: 0.5;
}

.home-screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.mascara-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  filter: blur(20px);
}

.button-start-home {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  margin-top: 1rem;
}

.icon-play {
  font-size: 20px;
}

.button-assistir-text {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.button-start-home {
  transform: scale(1);
  transition: background-color 0.3s ease;
}

.button-start-home:hover {
  transform: scale(1.00);
  background-color: #d7d7d7;
  animation: crescer-botao 0.18s forwards;
  /* Duração da animação quando em hover e mantém o estado final */
}

@keyframes crescer-botao {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

/* Em seu arquivo de estilos CSS (por exemplo, App.css) */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(20 20 20 / 78%);
  color: #fff;
  height: 8%;
  display: flex;
  align-items: center;
  padding: 0rem 16rem;
  z-index: 10;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}

.img-header{
  width: 60px;
  height: 60px;
}